<section class="buy-grid container" *ngIf="product">
  <header class="header">
    <h1>{{product.name}}</h1>
  </header>
  <div class="hero-image-wrapper">
    <img src="{{product.image}}" class="hero-image-element" style="height: 400px;width: 400px;" alt="alt">
  </div>
  <div class="specs-table">
    <h4>{{product.title}}</h4>
    <div class="specs-table-row">
      <div class="spec-table-description"> {{product.description}}</div>
    </div>
    <div class="specs-table-row">
      <div class="spec-table-label">{{ 'PRODUCT.Language' | translate }}</div>
      <div class="spec-table-description"> {{product.Language}}</div>
    </div>
    <div class="specs-table-row">
      <div class="spec-table-label">{{ 'PRODUCT.Genre' | translate }}</div>
      <div class="spec-table-description"> {{product.genre}}</div>
    </div>
    <div class="specs-table-row">
      <div class="spec-table-label">{{ 'PRODUCT.IMDB' | translate }}</div>
      <div class="spec-table-description"> {{product.imdbRating }}</div>
    </div>
  </div>
  <div class="">
    <input type = "hidden" #id value="{{product.id}}">
    <button class="btn btn-primary btn-large btn-full" (click) ="addFav(id)">{{ 'PRODUCT.ADD_FAV' | translate }}</button>
  </div>
</section>
