<div class="container">
    <div class="box">
        <h1>Sign In</h1>
        <div class="row">
            <input type="text" #Name placeholder="Name">
        </div>
        <div class="row">
            <input type="text" #Title placeholder="Title">
        </div>
        <div class="row">
            <input type="text" #Description placeholder="Description">
        </div>
        <div class="row">
            <input type="text" #IMDB_rating placeholder="IMDB_rating">
        </div>
        <div class="row">
            <input type="text" #Language placeholder="Language">
        </div>
        <div class="row">
            <input type="text" #Genre placeholder="Genre">
        </div>
        <div class="row">
            <input type="text" #Image placeholder="Image">
        </div>
        <div class="row">
            <a id="login" (click)="submitProductDataForm(Name,Title,Description, IMDB_rating,Language,Genre,Image)">SUMIT</a>
        </div>
    </div>
  </div>